<body class="container-page">
    <div *ngIf="loaderService.isLoading | async" class="loaderContainer">
        <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
    <div class="container">
        <div class="bee-block bee-block-3 bee-heading">
            <h1 class="titulo">Digite seu email</h1>
        </div>
        <form class="forgetForm" accept-charset="UTF-8" (ngSubmit)="onSubmit()" [formGroup]="forgetForm" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
            <div class="forget-form-row">
                <input placeholder="exemplo@email.com" id="r4c2m3i2" name="email" required="true" type="email" formControlName="email" />
            </div>
            <div class="forget-form-row-invalido" *ngIf="forgetForm.get('email')?.touched && forgetForm.get('email')?.errors">
                <div class="bee-field bee-field-r4c2m3i8">
                    <label>** Email inválido.</label>
                </div>
            </div>
            <div class="bee-field bee-field-r3c2m6i11 forget-btn">
                <button class="button-primary btn" id="r3c2m6i11" name="submit" type="submit" value="Cadastrar">Enviar</button>
            </div>
        </form>
    </div>
</body>