router-outlet::selection {
    color: #f9f9f9;
    background-color: #7e1177;
}

.flex {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
}

body {
    background-color: #f9f9f9;
}