<div class="container-page container-page-conteudo">
    <div class="container">
        <h1 class="mainClinicTitle">Página inicial</h1>

        <section class="dashboard">
            <!-- <div class="pacientesConectadosDiv">
          <h3 class="pacientesConectadosTitle">Pacientes conectados</h3>
            <h4 class="pacientesCadastrados">{{patientsLength}}</h4>
          <span class="material-symbols-outlined pacientesConectadosIcon"
            >monitoring</span
          >
        </div> -->

            <div class="pacientesConectadosDiv">
                <h3 class="pacientesConectadosTitle">Pacientes conectados</h3>
                <h4 class="semExamesCadastrados">Estamos trabalhando nisso 🧑‍💻</h4>
                <span class="material-symbols-outlined pacientesConectadosIcon">monitoring</span
        >
      </div>

      <!-- <div class="profissionaisConectadosDiv">
    <h3 class="profissionaisConectadosTitle">Profissionais conectados</h3>
    <h4 class="profissionaisCadastrados">{{professionalsLength}}</h4>
    <span class="material-symbols-outlined profissionaisConectadosIcon"
      >monitoring</span
    >
  </div> -->

      <div class="profissionaisConectadosDiv">
        <h3 class="profissionaisConectadosTitle">Profissionais conectados</h3>
        <h4 class="semExamesCadastrados">Estamos trabalhando nisso 🧑‍💻</h4>
        <span class="material-symbols-outlined profissionaisConectadosIcon"
          >monitoring</span
        >
      </div>

      <!-- <div class="arquivosEnviadosDiv" *ngIf="uploadedFilesLength">
            <h3 class="arquivosEnviadosTitle">Arquivos enviados</h3>
            <h4 class="arquivosEnviados">{{uploadedFilesLength}}</h4>
            <span class="material-symbols-outlined examesCompartilhadosIcon">monitoring</span>
            </div> -->

            <div class="arquivosEnviadosDiv">
                <h3 class="arquivosEnviadosTitle">Arquivos enviados</h3>
                <h4 class="semExamesCadastrados">Estamos trabalhando nisso 🧑‍💻</h4>
                <span class="material-symbols-outlined arquivosEnviadosIcon">monitoring</span
        >
      </div>
    </section>
    <section class="acesso">
      <div class="acessoRapido">
        <h1 class="acessoTitle">Acesso rápido</h1>
      </div>
      <div class="acessoDiv">
        <button class="button-secondary add">
          <span class="pacientItemText">Pré-cadastrar paciente</span>
                </button>
                <button class="button-secondary add">
          <span class="professionalItemText">Pré-cadastrar profissional</span>
        </button>
                <button class="button-primary add">
          <span class="uploadFileItemText">Enviar um arquivo</span>
        </button>
            </div>
        </section>
        <section class="lastUsers">
            <h2 class="lastUsersTitle">Últimos usuários adicionados à sua rede</h2>
        </section>
    </div>
</div>