    .container {
        background-color: #f9f9f9;
        padding: 1rem 4rem;
    }

    .btn {
        color: #7e1177;
    }

    .title {
        color: #7e1177;
        font-weight: 700;
        margin: 0;
        text-align: center;
    }

    .span {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .button-primary {
        width: fit-content;
    }

    .text {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .button-primary {
        margin-bottom: 1rem;
    }

    .topbar {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width:680px) {
        .title {
            font-size: 22px;
            text-align: center;
        }
        .span {
            font-size: 16px;
        }
    }

    @media (max-width:480px) {
        .title {
            font-size: 18px;
            text-align: center;
        }
        .span {
            font-size: 14px;
        }
    }
