.mat-dialog-container {
    background-color: #7e1177 !important;
}

.note-title {
    color: #f9f9f9;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin-bottom: 2rem;
}

form {
    font-size: 22px;
    font-weight: 400;
}

.note-form {
    margin: 0 auto;
    width: 70%;
}

.note-form-row {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

label {
    color: #f9f9f9;
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.noteInput {
    padding-left: 1rem;
    color: #7e1177;
    background-color: #f9f9f9;
    font-size: 16px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.addnoteLabel {
    padding: 2% 3%;
    background-color: #f9f9f9;
    color: #7e1177;
    display: block;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
}

.note-btn {
    display: flex;
    justify-content: center;
}

.btn {
    width: 100%;
    padding: 2% 8% !important;
}

@media (max-width:880px) {
    .container {
        padding: 0rem;
    }
    .note-form {
        width: 100%;
    }
}