.metrics-form {
    margin: 0 auto;
    width: 70%;
}

.metrics-form-row {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.btn {
    width: 100%;
}

@media (max-width:580px) {
    .metrics-form {
        width: 100%;
    }
}
