<body class="container-page">
    <div *ngIf="loaderService.isLoading | async" class="loaderContainer">
        <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
    <div class="container">
        <span class="tinyMce-placeholder">Insira o código de verificação</span>
        <p>O código foi enviado para o email informado no cadastro</p>
        <div id="form">
            <input type="text" maxLength="4" size="4" min="0" max="9" pattern="[0-9]{1}" [(ngModel)]="code1" />
            <button (click)="verify()" class="button-primary btn" id="r3c2m6i11" name="submit" type="submit" value="Verificar">Verificar</button>
        </div>
    </div>
</body>