.container-page {
    background: rgb(126, 17, 119);
    background: -moz-linear-gradient(145deg, rgba(126, 17, 119, 1) 0%, rgba(6, 17, 118, 1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(126, 17, 119, 1) 0%, rgba(6, 17, 118, 1) 100%);
    background: linear-gradient(145deg, rgba(126, 17, 119, 1) 0%, rgba(6, 17, 118, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7e1177", endColorstr="#061176", GradientType=1);
    height: 65vh;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
}

label {
    color: #f9f9f9;
}

.container,
.forgetForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgetForm {
    width: 50%;
}

.btn {
    align-items: center;
    width: 100%;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    background: #7e1177;
    color: #f9f9f9;
}

.forget-form-row {
    width: 100%;
    margin: 1rem 0;
}

.labelDiv {
    margin-bottom: 1rem;
    margin-top: 0.6rem;
    width: 100%;
}

.forget-form-row-invalido {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem;
    color: #f9f9f9;
}

input {
    border: none;
    outline: none;
    padding: 0;
    border-radius: 12px;
    display: flex;
    margin: 0 auto;
    width: 40%;
    width: 100%;
}

.titulo {
    color: #f9f9f9;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 120%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.forget-btn {
    width: 100%;
}

.bee-button .content,
.bee-row-4 .bee-col-1 .bee-block-1 {
    text-align: center
}

.bee-page-container,
.bee-row-1,
.bee-row-1 .bee-row-content {
    background-size: auto
}

.bee-row-1,
.bee-row-5 {
    background-color: #f9f9fa
}

.bee-page-container {
    background-image: none;
    background-position: top left;
    background-repeat: no-repeat
}

.bee-menu .bee-hamburger-trigger {
    display: none
}

.bee-row {
    position: relative;
    overflow: hidden
}

.bee-row-content {
    max-width: 1440px;
    width: 100%;
    float: left;
    display: flex;
    position: relative
}

.bee-row-content .bee-col-w4 {
    flex-basis: 33%
}

.bee-row-content .bee-col-w8 {
    flex-basis: 67%
}

.bee-row-content .bee-col-w12 {
    flex-basis: 100%
}

.bee-button a,
.bee-icon .bee-icon-label-right a,
.bee-menu ul li a {
    text-decoration: none
}

.bee-image {
    overflow: auto
}

.bee-image .bee-center {
    margin: 0 auto
}

.bee-row-1 .bee-col-1 .bee-block-2 {
    width: 100%
}

.bee-row-1 .bee-row-content,
.bee-row-2 .bee-row-content,
.bee-row-3 .bee-row-content,
.bee-row-4 .bee-row-content,
.bee-row-5 .bee-row-content {
    border-radius: 0;
    background-repeat: no-repeat;
    color: #000
}

.bee-menu ul {
    margin: 0;
    padding: 0
}

.bee-icon {
    display: inline-block;
    vertical-align: middle
}

.bee-icon .bee-content {
    display: flex;
    align-items: center
}

.bee-image img {
    display: block;
    width: 100%
}

.bee-menu .bee-hamburger-controls {
    cursor: pointer;
    display: inline-block;
    position: relative
}

.bee-menu .bee-hamburger-controls span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .12s ease-in-out
}

.bee-menu ul {
    list-style-type: none
}

.bee-menu ul.bee-horizontal li {
    display: inline-block
}

.bee-paragraph {
    overflow-wrap: anywhere
}

.bee-row-1 {
    background-repeat: no-repeat
}

.bee-row-1 .bee-col-1,
.bee-row-2 .bee-col-1,
.bee-row-3 .bee-col-1,
.bee-row-3 .bee-col-2,
.bee-row-3 .bee-col-3,
.bee-row-4 .bee-col-1,
.bee-row-5 .bee-col-1,
.bee-row-5 .bee-col-2,
.bee-row-5 .bee-col-3,
.bee-row-6 .bee-col-1 {
    padding-bottom: 5px;
    padding-top: 5px
}

.bee-row-1 .bee-col-2 {
    padding-bottom: 5px;
    padding-top: 45px
}

.bee-row-1 .bee-col-2 .bee-block-2 {
    color: #000;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: right
}

.bee-row-2,
.bee-row-3,
.bee-row-4,
.bee-row-6 {
    background-repeat: no-repeat
}

.bee-row-2 .bee-col-1 .bee-block-3 {
    text-align: center;
    width: 100%
}

@media (max-width:1460px) {
    .bee-row-1 .bee-col-1 {
        padding: 0 !important
    }
    .bee-row-3 .bee-col-1 {
        padding: 5px 0 !important
    }
    .bee-row-3 .bee-col-2 {
        padding: 5px 15px !important
    }
}

.bee-row-3 .bee-col-2 .bee-block-1 {
    padding: 10px;
    text-align: center
}

.bee-row-4 .bee-col-1 .bee-block-3 {
    padding: 5px 15px
}

.bee-row-5 {
    background-repeat: no-repeat
}

.bee-row-5 .bee-col-2 .bee-block-4 {
    padding: 5px;
    width: 100%
}

.bee-row-6 .bee-row-content {
    background-repeat: no-repeat;
    color: #000
}

.bee-row-6 .bee-col-1 .bee-block-1 {
    color: #9d9d9d;
    font-family: inherit;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center
}

.bee-row-4 .bee-col-1 .bee-block-3,
.bee-row-5 .bee-col-2 .bee-block-6 {
    direction: ltr;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0
}

.bee-row-4 .bee-col-1 .bee-block-3 {
    color: #f9f9f9;
    font-size: 17px;
    line-height: 150%;
    text-align: center
}

.bee-row-4 .bee-col-1 .bee-block-3 a {
    color: #fe7dd9
}

.bee-row-4 .bee-col-1 .bee-block-3 p:not(:last-child),
.bee-row-5 .bee-col-2 .bee-block-6 p:not(:last-child) {
    margin-bottom: 16px
}

.bee-row-1 .bee-col-2 .bee-block-2 li {
    padding-left: 10px;
    padding-right: 20px
}

.bee-row-1 .bee-col-2 .bee-block-2 li a {
    color: #000
}

@media (max-width:768px) {
    .tinyMce-placeholder {
        font-size: 28px;
    }
    .forget-form-row {
        margin: 1rem 0 0;
    }
    .btn {
        margin: 1rem auto 2rem;
        width: 100%;
    }
    p {
        font-size: 14px;
    }
    input {
        width: 100%;
    }
    .forget-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .forgetForm {
        width: 100%;
    }
    .container-page {
        height: 68vh;
        align-items: center;
        justify-content: center;
    }
    .titulo {
        font-size: 26px;
    }
}