<div *ngIf="loaderService.isLoading | async" class="loaderContainer">
    <mat-spinner mode="indeterminate"></mat-spinner>
</div>

<body class="container-page">
    <div class="container">
        <div class="bee-block bee-block-3 bee-heading">
            <h1 class="titulo">Informe a nova senha</h1>
        </div>
        <form class="forgetForm" accept-charset="UTF-8" (ngSubmit)="onSubmit()" [formGroup]="newPassForm" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
            <div class="register-form-row labelDiv">
                <label for="password">Nova senha</label>
                <mat-form-field appearance="fill">
                    <input matInput [type]="hide ? 'password' : 'text'" id="password" name="pass" type="password" formControlName="password" />
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                </mat-form-field>
            </div>
            <div class="register-form-row labelDiv">
                <label for="confirmPassword">Confirme a nova senha</label>
                <mat-form-field appearance="fill">
                    <input matInput [type]="hide2 ? 'password' : 'text'" id="confirmPassword" name="confirmPass" required="" type="password" formControlName="confirmPassword" />
                    <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                </mat-form-field>
            </div>
            <div class="register-form-row labelDiv" *ngIf="passwordMatchError">
                <div class="bee-field bee-field-r4c2m3i8">
                    <label>** As senhas não conferem. Por favor verifique.</label>
                </div>
            </div>

            <div class="bee-field bee-field-r3c2m6i11 forget-btn">
                <button [disabled]="newPassForm.invalid || newPassForm.disabled" class="button-primary btn" id="r3c2m6i11" name="submit" type="submit" value="Cadastrar">Enviar</button>
            </div>
        </form>
    </div>
</body>
