<div *ngIf="loaderService.isLoading | async" class="loaderContainer">
    <mat-spinner mode="indeterminate"></mat-spinner>
</div>

<body class="container-page">
    <div class="certificate-view-topbar">
        <button class="btn" routerLink="/main">
      <span class="material-symbols-outlined">chevron_left</span>
    </button>
        <button class="button-primary" (click)="shareCertificate(id)">Compartilhar</button>
    </div>
    <app-certificate-view-pdf></app-certificate-view-pdf>
</body>
